
/* ************************ */
/*       NAVBAR LINKS       */
/* ************************ */
#home-button2{
	color:white;
	background: linear-gradient(40deg, #6600ff, #3d0099) !important;
}

#about-button2{
	color: white;
	background: linear-gradient(40deg, #3902cc, #3d0099) !important;
	box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.4);
}

#about-header{
	color:white;
}

#background-header-text{
	color:white;
}

#legal-guidelines-header-text{
	color:white;
}

#cali-legal-header{
	color:white;
}

#penn-legal-header{
	color:white;
}

#penn-rules-text{
	color:white;
}

#cali-rules-text{
	color:white;
}