@charset "ISO-8859-1";

/* Reduce space in between text for all p tags */
p{
	margin:0;
	color: white;
}

body{
 	  height: 100%;
 	  background-color:#2A1B80;
	  background-repeat: no-repeat;
	  font-family: sans-serif;
	  color: #0f222d;
	  background-size: auto;	  	
}

/* ************************ */
/*       NAVBAR LINKS       */
/* ************************ */
#home-button{
	color: white;
	background: linear-gradient(40deg, #3902cc, #3d0099) !important;
	box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.4);
}

#about-button{
	color:white;
	background: linear-gradient(40deg, #6600ff, #3d0099) !important;
}

#map-view-text{
	color: white;
	text-align: center;
    margin-top: 8px;
}

#current-map-view-text{
	color:white;
	text-align:center;
}

#district-view-toggle{
	color:white;
	background: linear-gradient(40deg, #a6a6a6,#737373) !important;
}

#main-menu-text{
	color: white;
	text-align: center;
}

#sys-controls-text{
     color: white;
     margin-top: 8px;
}

#election-select-menu{
  background-color: #3902cc;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

#state-select-menu{
  background-color: #3902cc;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

/* ********************* */
/*  VOTING DATA HEADERS  */
/* ********************* */
#state-voting-data-text{
	color:white;
	margin-top: 20px;
}

#district-voting-data-text{
	color:white;
	margin-top: 20px;
}

#precinct-voting-data-text{
	color:white;
	margin-top: 20px;
}

/* ************************** */
/*  DEMOGRAPHIC DATA HEADERS  */
/* ************************** */
#state-demographic-data-text{
	color:white;
	margin-top: 30px;
}

#district-demographic-data-text{
	color:white;
	margin-top: 30px;	
}

#precinct-demographic-data-text{
	color:white;
	margin-top: 10px;
}

/* ************************ */
/* TAB STYLES FOR MAIN MENU */
/* ************************ */


.nav-item{
	color:white;
	background-color: #004080;
}

.nav-item.active{
	color:black;
	background-color: white;
}

/*
#system-controls-tab{
	color: white;
}

#map-data-tab{
	color: white;
}

#data-analysis-tab{
	color: white;
}

#phase0-tab{
	color: white;
}

#phase1-tab{
	color: white;
}

#phase2-tab{
	color: white;
}
*/


/* ************************ */
/* TAB STYLES FOR MAIN MENU */
/* ************************ */

#map-container{
	display: flex;
    flex-flow: column wrap;
    flex: 1 1;
    order: 2;
}

#main-menu-col{
	background-color:#2A1B80;
	margin-top: 8px;
}

#slider-text{
	color:white;
}

#controls-text{
	color:white;	
}

#measures-text{
	color:white;
}

/* Map View Styles */
.blue-gradient {
    background: linear-gradient(40deg, #45cafc,#303f9f) !important;
}

/* Button Styles */
.btn.blue-gradient {
    color: #fff;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}

.btn-rounded {
    border-radius: 10em;
}

.btn {
    margin: .375rem;
    color: inherit;
    text-transform: uppercase;
    word-wrap: break-word;
    white-space: normal;
    cursor: pointer;
    border: 0;
    border-radius: .125rem;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    -webkit-transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,-webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,-webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out,-webkit-box-shadow 0.15s ease-in-out;
    padding: .34rem 1.14rem;
    font-size: .81rem;
}

#sys-controls-col{
	background-image: radial-gradient(farthest-corner at 40px 40px, #255CB3 0%, #4F92FF 100%);
	height: 790px;
}

/* **************************** */
/* TAB STYLES FOR CHECKBOX TEXT */
/* **************************** */
.checkbox-label{
	color:white;
}

#mmmcdg-navbar{
	background-image: radial-gradient(farthest-corner at 40px 40px, #255CB3 0%, #4F92FF 100%);
}

/* ****************************** */
/* STYLING FOR SLIDER BACKGROUNDS */
/* ****************************** */

#phase0-demographic-bloc-measure{
	background: transparent;
}

#phase0-vote-bloc-measure{
	background: transparent;
}

#phase1-demographic-bloc-measure{
	background: transparent;
}

#phase1-vote-bloc-measure{
	background: transparent;
}

#phase2-efficiency-gap-measure{
	background: transparent;	
}

#phase2-lopsided-margins-measure{
	background: transparent;	
}

#phase2-mean-median-difference-measure{
	background: transparent;	
}

#phase2-compactness-measure{
	background: transparent;	
}

#phase2-polsby-popper-measure{
	background: transparent;	
}

#phase2-schwartzberg-measure{
	background: transparent;	
}

#phase2-pop-measure{
	background:transparent;
}

#phase2-pop-measure{
	background:transparent;
}

/* ****************************** */
/* STYLING FOR SLIDER APPEARANCE  */
/* ****************************** */

input[type=range] {
  height: 27px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #E8EEFF;
  border-radius: 1px;
  border: 0px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 2px 2px 2px #1B2AB3;
  border: 1px solid #737CFF;
  height: 18px;
  width: 18px;
  border-radius: 50px;
  background: #FCFDFF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #E8EEFF;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #E8EEFF;
  border-radius: 1px;
  border: 0px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 2px 2px 2px #1B2AB3;
  border: 1px solid #737CFF;
  height: 18px;
  width: 18px;
  border-radius: 50px;
  background: #FCFDFF;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #E8EEFF;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #E8EEFF;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 2px 2px 2px #1B2AB3;
  border: 1px solid #0000ff;
  height: 18px;
  width: 18px;
  border-radius: 50px;
  background: #FCFDFF;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #E8EEFF;
}
input[type=range]:focus::-ms-fill-upper {
  background: #E8EEFF;
}
