@charset "ISO-8859-1";

.mb-4, .my-4 {
    margin-bottom: 12px !important;
}
.mt-4, .my-4 {
    margin-top: 12px !important;
}
.justify-content-center {
    -ms-flex-pack: center !important;
    justify-content: center !important;
}
.d-flex {
    display: -ms-flexbox !important;
    display: flex !important;
}