<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Maximum Majority-Minority Congressional Redistricting Generation</title>	    
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<!--  favicon -->
	<link href="[YOUR_FAVICON_PATH]/favicon.ico" rel="icon" type="image/x-icon" />
	
   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
   
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
   
   <!-- Import jQuery -->
   <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
   
   <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin="anonymous"/>
   
	<!--  Import Leaflet -->
	<script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js" integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og==" crossorigin="anonymous"></script>
   
	<link rel="stylesheet" href="/css/leaflet.css"/>	
	<link rel="stylesheet" href="/css/home.css"/>
		<link rel="stylesheet" href="/css/slider.css"/>

</head>
<body>

	<!-- Top-level Navbar -->
	<nav id="mmmcdg-navbar" class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="#">Maximum Majority-Minority Congressional Redistricting Generation</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            	<span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse right" id="navbarColor01">
            	<ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="home.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="about.html">About</a>
                </li>
              	</ul>
              <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="state-select-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Select Election Data</button>
                   <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
	                   <a id="congress-2016" class="dropdown-item" href="#!">2016 Congressional Election</a>
	                   <a id="pres-2016" class="dropdown-item" href="#!">2016 Presidential Election</a>
	                   <a id="congress-2018" class="dropdown-item" href="#!">2018 Congressional Election</a>
                   </div>
              </div>
              <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="state-select-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">State View Select</button>
                   <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
	                   <a id="full" class="dropdown-item" href="#!">Full Map</a>
	                   <a id="penn" class="dropdown-item" href="#!">Pennsylvania</a>
	                   <a id="california" class="dropdown-item" href="#!">California</a>
                   </div>
              </div>
           </div>
     </nav>
     
	<!--  New UI -->
	<div class="container-fluid" id=new-container>
		<!-- A fluid container that uses the full width -->
				<!-- MAP SELECTION VIEW AND BUTTONS -->
		<div class="row">
			<div class="col-md-7">
				<h2 id="map-view-text">Map View</h2>
			 </div>
			 
			 <div id="main-menu-col" class="col-md-5">
			 	<h2 id="main-menu-text">Main Menu</h2>
			 		<!-- <button id="full" class="btn blue-gradient btn-rounded waves-effect waves-light">FULL MAP</button>  -->
					<!-- <button id="california" class="btn blue-gradient btn-rounded waves-effect waves-light">CALIFORNIA</button>  -->
					<!-- <button id="penn" class="btn blue-gradient btn-rounded waves-effect waves-light">PENNSYLVANIA</button>  -->
			 </div>
		</div>
	</div>
	
	<div class="row">
	<!----------------------------------------------------------------------------------------------------------------------->
	<!--------------------------------------------------- LEAFLET ----------------------------------------------------------->
	<!----------------------------------------------------------------------------------------------------------------------->
        <div class="col-md-7">
           <!-- CONTAINER FOR LEAFLET MAP -->
			<div id="map-container" class="container-fluid">

				 <div class="row">
				 <!-- Leaflet Map Div -->
					<div id="leaflet-map">
					</div>
					<script type="text/javascript">
						$(function() {
							$("#leaflet-map").load("leaflet", function() {
								$(this).trigger("pagecreate");
							});
						});
					</script>
				</div>
			</div>            
			<!-- END OF CONTAINER FOR LEAFLET MAP -->
		</div> 	<!-- END OF col-md-7 -->
	<!----------------------------------------------------------------------------------------------------------------------->
	<!------------------------------------------------ END OF LEAFLET ------------------------------------------------------->
	<!----------------------------------------------------------------------------------------------------------------------->

		<!-- System Controls Container -->
		<div id="sys-controls-col" class="col-md-5">
<div id="phase-inputs" class="container-fluid">
    <h3 id="sys-controls-text" class="text-center">System Controls</h3> 
	<div class="row">
		<div class="col-md-12">
			<div class="tabbable" id="tabs-99982">
				<ul class="nav nav-tabs">
					<li class="nav-item">
						<a class="nav-link active show" href="#tab4" data-toggle="tab" id="system-controls-tab">System Controls</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#tab5" data-toggle="tab" id="map-data-tab">Map Data</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#tab6" data-toggle="tab" id="data-analysis-tab">Data Analysis</a>
					</li>
				</ul>
			</div>
			<div class="tabbable" id="tabs-99982">
				<ul class="nav nav-tabs">
					<li class="nav-item">
						<a class="nav-link active show" href="#tab1" data-toggle="tab" id="phase0-tab">Demographic Bloc Analysis</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#tab2" data-toggle="tab" id="phase1-tab">Graph Partitioning</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#tab3" data-toggle="tab" id="phase2-tab">Simulated Annealing</a>
					</li>
				</ul>
			</div>
			<div class="tab-content">
				<div class="tab-pane active" id="sys-controls-content">
	<!----------------------------------------------------------------------------------------------------------------------->
	<!----------------------------------------------- END OF SYSTEM CONTROLS ------------------------------------------------>
	<!----------------------------------------------------------------------------------------------------------------------->
	<!----------------------------------------------------------------------------------------------------------------------->
	<!------------------------------------------------------ PHASE 0 -------------------------------------------------------->
	<!----------------------------------------------------------------------------------------------------------------------->
				<div class="tab-content">
					<div class="tab-pane active" id="phase0-content">
						<div class="row">
							<div class="col-md-12">
							<br/>
							<p><span class="badge badge-primary">Demographic Bloc Percentage</span></p>
									<div class="d-flex justify-content-center my-4">
									  <span id="slider-text" class="font-weight-bold indigo-text mr-2 mt-1">0</span>
									  <form class="range-field w-50">
									    <input class="border-0" type="range" value="0" min="0" max="100" id="phase0-demographic-bloc-measure"/>
									  </form>
									  <span id="slider-text" class="font-weight-bold indigo-text ml-2 mt-1">100</span>
							</div>
							
							<p><span class="badge badge-primary">Vote Bloc Population </span></p>
									<div class="d-flex justify-content-center my-4">
									  <span id="slider-text" class="font-weight-bold indigo-text mr-2 mt-1">0</span>
									  <form class="range-field w-50">
									    <input class="border-0" type="range" value="0" min="0" max="100" id="phase0-vote-bloc-measure"/>
									  </form>
									  <span id="slider-text" class="font-weight-bold indigo-text ml-2 mt-1">100</span>
							</div>
				
							</div>
						</div>
					</div>
	<!----------------------------------------------------------------------------------------------------------------------->
	<!--------------------------------------------------- END OF PHASE 0 ---------------------------------------------------->
	<!----------------------------------------------------------------------------------------------------------------------->
	
	<!----------------------------------------------------------------------------------------------------------------------->
	<!------------------------------------------------------ PHASE 1 -------------------------------------------------------->
	<!----------------------------------------------------------------------------------------------------------------------->
					<br/>
					<div class="tab-pane" id="phase1-content">
						<div class="row">
							<div class="col-md-8">
							<p><span class="badge badge-primary">Demographic Bloc Percentage</span></p>
									<div class="d-flex justify-content-center my-4">
									  <span id="slider-text" class="font-weight-bold indigo-text mr-2 mt-1">0</span>
									  <form class="range-field w-25">
									    <input class="border-0" type="range" value="0" min="0" max="100" id="phase1-demographic-bloc-measure"/>
									  </form>
									  <span id="slider-text" class="font-weight-bold indigo-text ml-2 mt-1">100</span>
									</div>
							<p><span class="badge badge-primary">Vote Bloc Percentage</span></p>
									<div class="d-flex justify-content-center my-4">
									  <span id="slider-text" class="font-weight-bold indigo-text mr-2 mt-1">0</span>
									  <form class="range-field w-25">
									    <input class="border-0" type="range" value="0" min="0" max="100" id="phase1-vote-bloc-measure"/>
									  </form>
									  <span id="slider-text" class="font-weight-bold indigo-text ml-2 mt-1">100</span>
									</div>
							</div>
							<div class="col-md-4">
							<p><span class="badge badge-primary">Demographic Grouping</span></p>
								 <div class="checkbox">
								  <label><input type="checkbox" value="0" id="phase1-asian">Asian</label>
								</div>
								<div class="checkbox">
								  <label><input type="checkbox" value="0" id="phase1-african">African American</label>
								</div>
								<div class="checkbox">
								  <label><input type="checkbox" value="0" id="phase1-hispanic">Hispanic</label>
								</div>
								<div class="checkbox">
								  <label><input type="checkbox" value="0" id="phase1-white">White</label>
								</div> 
								<div class="checkbox">
								  <label><input type="checkbox" value="0" id="phase1-native">Native American</label>
								</div> 
								<div class="checkbox">
								  <label><input type="checkbox" value="0" id="phase1-hawiian">Native Hawiian</label>
								</div> 
							</div>
						</div>
					</div>
	<!----------------------------------------------------------------------------------------------------------------------->
	<!------------------------------------------------- END OF PHASE 1 ------------------------------------------------------>
	<!----------------------------------------------------------------------------------------------------------------------->
	
	<!----------------------------------------------------------------------------------------------------------------------->
	<!------------------------------------------------------ PHASE 2 -------------------------------------------------------->
	<!----------------------------------------------------------------------------------------------------------------------->
					<div class="tab-pane" id="phase2-content">
						<br/>
						<div class="row">
								<div class="col-md-6">
									<h5 id="measures-text">Political Fairness Measures</h5>
									<p><span class="badge badge-primary">Efficiency Gap</span></p>
									<div class="d-flex justify-content-center my-4">
									  <span id="slider-text" class="font-weight-bold indigo-text mr-2 mt-1">0</span>
									  <form class="range-field w-25">
									    <input class="border-0" type="range" value="0" min="0" max="100" id="phase2-efficiency-gap-measure"/>
									  </form>
									  <span id="slider-text" class="font-weight-bold indigo-text ml-2 mt-1">100</span>
									</div>
									<p><span class="badge badge-primary">Lopsided Margins</span></p>
									<div class="d-flex justify-content-center my-4">
									  <span id="slider-text" class="font-weight-bold indigo-text mr-2 mt-1">0</span>
									  <form class="range-field w-25">
									    <input class="border-0" type="range" value="0" min="0" max="100" id="phase2-lopsided-margins-measure"/>
									  </form>
									  <span id="slider-text" class="font-weight-bold indigo-text ml-2 mt-1">100</span>
									</div>
									<p><span class="badge badge-primary">Mean Median Difference</span></p>
									<div class="d-flex justify-content-center my-4">
									  <span id="slider-text" class="font-weight-bold indigo-text mr-2 mt-1">0</span>
									  <form class="range-field w-25">
									    <input class="border-0" type="range" value="0" min="0" max="100" id="phase2-mean-median-difference-measure"/>
									  </form>
									  <span id="slider-text" class="font-weight-bold indigo-text ml-2 mt-1">100</span>
									</div>		
								</div>
																
								<div class="col-md-6">
									<h5 id="measures-text">Compactness Measures</h5>
									<p><span class="badge badge-primary">Graph Compactness</span></p>
									<div class="d-flex justify-content-center my-4">
									  <span id="slider-text" class="font-weight-bold indigo-text mr-2 mt-1">0</span>
									  <form class="range-field w-25">
									    <input class="border-0" type="range" value="0" min="0" max="100" id="phase2-compactness-measure"/>
									  </form>
									  <span id="slider-text" class="font-weight-bold indigo-text ml-2 mt-1">100</span>
									</div>
									<p><span class="badge badge-primary">Polsby-Popper</span></p>
									<div class="d-flex justify-content-center my-4">
									  <span id="slider-text" class="font-weight-bold indigo-text mr-2 mt-1">0</span>
									  <form class="range-field w-25">
									    <input class="border-0" type="range" value="0" min="0" max="100" id="phase2-polsby-popper-measure"/>
									  </form>
									  <span id="slider-text" class="font-weight-bold indigo-text ml-2 mt-1">100</span>
									</div>
									<p><span class="badge badge-primary">Schwartzberg</span></p>
									<div class="d-flex justify-content-center my-4">
									  <span id="slider-text" class="font-weight-bold indigo-text mr-2 mt-1">0</span>
									  <form class="range-field w-25">
									    <input class="border-0" type="range" value="0" min="0" max="100" id="phase2-schwartzberg-measure"/>
									  </form>
									  <span id="slider-text" class="font-weight-bold indigo-text ml-2 mt-1">100</span>
									</div>
								</div>	
								
								<div class="col-md-12">
									<h5 id="measures-text">Population Equality Measure</h5>
									<p><span class="badge badge-primary">Population Percent Difference Measure</span></p>
									<div class="d-flex justify-content-center my-4">
									  <span id="slider-text" class="font-weight-bold indigo-text mr-2 mt-1">0</span>
									  <form class="range-field w-25">
									    <input class="border-0" type="range" value="0" min="0" max="100" id="phase2-pop-measure"/>
									  </form>
									  <span id="slider-text" class="font-weight-bold indigo-text ml-2 mt-1">100</span>
									</div>	
								</div>
								
							</div><!-- END OF PHASE 2 CONTENT  -->
						</div> <!-- END OF phase 2 tab PANE -->
	<!----------------------------------------------------------------------------------------------------------------------->
	<!-------------------------------------------------- END OF PHASE 2 ----------------------------------------------------->
	<!----------------------------------------------------------------------------------------------------------------------->
					</div> <!--  End of phase controls inner tab content -->
			</div> <!-- end of sys-controls-content -->
			<div class="tab-pane" id="map-data-content">
				<div class="col-md-2">
					<h3>State Data</h3>
					<p>Republican Votes: </p>
					<p>Democrat Votes: </p>
					<p>Independent Votes: </p>
					<p>Other Votes: </p>
					<p>Percentage of Representatives: </p>
					<p>Majority Party: </p>
				</div>
			</div>
			<div class="tab-pane" id="data-analysis-content">
					<h3>District Data</h3>
					<p>Population: </p>
					<p>White: </p>
					<p>Black: </p>
					<p>Hispanic: </p>
					<p>Native American: </p>
					<p>Asian: </p>
					<p>Native Hawaiian: </p>
					<p>Native Alaskan: </p>
			</div>
	</div>
	</div>
	</div>
	
	<!----------------------------------------------------------------------------------------------------------------------->
	<!--------------------------------------------- Algorithm Button Controls ----------------------------------------------->
	<!----------------------------------------------------------------------------------------------------------------------->
	
	<div class="row">
		<div class="col-md-12">
			<input type="hidden" value="0" id="phase0-is-running"/>
				<button type="button" class="btn btn-success btn-block" id="phase0-run">Run</button> 
			    <button type="button" class="btn btn-block active disabled btn-danger" id="phase0-stop">Stop</button>
		</div>
	</div>
	
	<!----------------------------------------------------------------------------------------------------------------------->
	<!--------------------------------------------- End of new User Interface ----------------------------------------------->
	<!----------------------------------------------------------------------------------------------------------------------->

<!-- END OF CONTAINER -->
<p id="error"></p>
 <!-- Optional JavaScript -->
 <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/js/phasecontrollers.js"></script>
    <script src="/js/mainmenucontroller.js"></script>
  </body>
</html>